//Bootstrap Icons
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

// Variables
@import "./styles/_variables.scss";

// Base
body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}

// Header
.topnav {
  width: 100%;
  padding: 1rem;
  background-color: $color-white;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .nav-left {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 30px;
      height: auto;
    }
  }
  .nav-center {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 1rem;

    .search-container {
      background-color: $color-light-gray;
      border-radius: 30px;
      padding: 8px 16px;
      flex-grow: 1;
      min-width: 200px;
      max-width: 100%;

      .search-form {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;

        .search-input {
          border: none;
          background: transparent;
          width: 100%;
          font-family: $font-primary;
          color: $color-gray;
          outline: none;
        }
      }
    }
  }
  .nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navButton {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: $color-black;
    
    i {
      color: $color-gray;
      font-size: 1.2rem;
    }
  }

  .inicio {
    background-color: $color-black;
    color: $color-white;
  }

  .buscar {
    background-color: $color-light-gray;
    color: $color-gray;
    flex-grow: 1;
    text-align: start;
    gap: 19px;
    min-width: 200px;
    max-width: 100%;
  }

  .btn_circle {
    text-decoration: none;
    color: $color-gray;
    background-color: $color-light-gray;
    border-radius: 50%;
    padding: 8px 12px;
  }

  .icon {
    display: none;
    font-size: 1.5rem;
    color: $color-gray;
  }
}

.image-grid {
  column-count: 5;
  column-gap: 20px;
  padding: 30px 20px;
}

@media screen and (max-width: 700px) {
  .topnav {
    flex-wrap: nowrap;

    .nav-left {
      .navButton {
        display: none;
      }
    }

    .nav-right {
      .navButton {
        display: none;
      }
    }
  }

  .image-grid { column-count: 2; }
  .image-card { margin-bottom: 12px; }
}